@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
    font-family: 'GeneralSans-Regular';
    src: url(./assets/fonts/GeneralSans-Regular.ttf);
}

@font-face {
    font-family: 'GeneralSans-Medium';
    src: url(./assets/fonts/GeneralSans-Medium.ttf);
}


@font-face {
    font-family: 'GeneralSans-Semibold';
    src: url(./assets/fonts/GeneralSans-Semibold.ttf);
}

@font-face {
    font-family: 'GeneralSans-Bold';
    src: url(./assets/fonts/GeneralSans-Bold.ttf);
}
